.auth {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 380px;
    width: 80%;
    height: 80%;
    margin: auto;

    &__sign-up__container {
        height: auto;

        &__content--button {
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__sign-in__container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;

        p {
            font-size: 1rem;
            color: #1B73E8;
            cursor: pointer;
        }
    }

    &__google-sign-in__container {
        outline: none;
        margin-top: 1.5rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        display: flex;
        justify-content: center;
    }

    .mat-form-field {
        width: 100%;
    }

    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;
    }

    mat-card-title {
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3f51b5;
    }
}
