.auth {
    display: flex;
    flex-flow: column;
    justify-content: center;
    max-width: 380px;
    width: 80%;
    height: 80%;
    margin: auto;

    &__sign-up__container {
        height: 22rem;

        &__content--button {
            display: flex;
            justify-content: center;
        }
    }

    &__sign-in__container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .mat-form-field {
        width: 100%;
    }

    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;
    }
}
