<div class="auth">
    <div class="auth__sign-up__container" *ngIf="!showLoader; else spinner">
        <mat-card>
            <mat-card-title>{{ isSignUp ? "Sign Up To Chat Buddy" : "Sign In To Chat Buddy" }}</mat-card-title>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <mat-form-field *ngIf="isSignUp">
                        <input type="text" matInput placeholder="Full Name" formControlName="fullName">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="email" autocomplete="email" matInput placeholder="Email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field *ngIf="isSignUp">
                        <input type="text" matInput autocomplete="username" placeholder="Username"
                            formControlName="username">
                    </mat-form-field>

                    <mat-form-field>
                        <input type="password" autocomplete="current-password" matInput placeholder="Password"
                            formControlName="password">
                    </mat-form-field>

                    <div class="auth__sign-up__container__content--button">
                        <button type="submit" mat-raised-button>{{ isSignUp ? "Sign Up" : "Sign In" }}</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="auth__google-sign-in__container" *ngIf="!showLoader" (click)="signInWithGoogle()">
        <img src="assets/1x/btn_google_signin_dark_normal_web.png" alt="">
    </div>
    <div class="auth__sign-in__container" *ngIf="!showLoader">
        <p (click)="onSwitchScreen()">
            {{ !isSignUp ? "Don't have an account yet? Sign up here" : "Already Have Account? Sing in here"}}
        </p>
    </div>

    <ng-template #spinner>
        <div style="display: flex; justify-content: center;">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>